<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>移动应用管理 / 应用编辑</h5>
      </div>
      <div class="ibox-content">
        <form name="editForm" role="form" novalidate ng-submit="vm.save()">
          <input name="appId" id="appId" type="hidden" value="">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">APP名称</label>
                <div class="col-lg-8">
                  <!--<input name="appCode" class="form-control" id="appCode" type="text"  ng-model="vm.appedition.appCode">-->
                  <select class="form-control" id="authAppId" name="authAppId" ng-model="vm.appedition.appId" ng-options="e.appId as e.appName for e in vm.result" ng-disabled="vm.disabled">
                    <option value="">请选择</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">APP主页</label>
                <div class="col-lg-8">
                  <input name="appHomepage" class="form-control" id="appHomepage" type="text" ng-model="vm.appedition.appHomepage">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">应用平台</label>
                <div class="col-lg-8">
                  <!--<select name="appPlatform" class="form-control" id="appPlatform" ng-model="vm.appedition.appEquipment"><option value="iOS">iOS</option><option value="Android">Android</option><option value="Windows Phone">Windows Phone</option></select>-->
                  <select class="form-control" id="appPlatform" name="appPlatform" ng-model="vm.appedition.appEquipment" ng-options="e.id as e.name for e in vm.Equipments" >
                    <option value="">请选择</option>
                  </select>
            </div>
          </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">APP应用分享链接</label>
                <div class="col-lg-8">
                  <input name="downloadUrl" class="form-control" id="downloadUrl" type="text" ng-model="vm.appedition.downloadUrl">
                </div>
              </div>
            </div>
         </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">是否有效</label>
                <div class="col-lg-8">
                  <!--<select name="enableFlag" class="form-control" id="enableFlag" ng-model="vm.appedition.enableFlag"><option value="Y" selected="">是</option><option value="N">否</option></select>-->
                  <select class="form-control" id="enableFlag" name="enableFlag" ng-model="vm.appedition.enableFlag" ng-options="s.id as s.name for s in vm.state" >
                    <option value="">请选择</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
              <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;取消
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
              <span class="glyphicon glyphicon-save"></span>&nbsp;保存
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
