<alert-error></alert-error>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>APP版本管理</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#">Config option 1</a>
            </li>
            <li><a href="#">Config option 2</a>
            </li>
          </ul>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="appEdition.new">
          <span class="glyphicon glyphicon-plus"></span>
          创建一个APP
        </button>
      </div>
    </div>
  </div>
  <br/>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>操作</th>
        <th>序号</th>
        <!--<th>应用代码</th>-->
        <th>应用名称</th>
        <th>适用设备</th>
        <th>APP主页</th>
        <th>APP应用分发链接</th>
        <th>是否有效</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="appEdition in vm.appEditions track by appEdition.id">
        <td>
          <a ui-sref="appEditionLine({id:appEdition.id,appId:appEdition.appId})"><i class="fa fa-desktop text-navy">查看</i></a>
          <a ui-sref="appEdition.edit({id:appEdition.id})"><i class="fa fa-edit text-navy"> 编辑</i></a>
        </td>
        <td ng-bind="$index+1">1</td>
        <!--<td ng-bind="appEdition.appCode"></td>-->
        <td ng-bind="appEdition.appName"></td>
        <td ng-bind="appEdition.appEquipment"></td>
        <td ng-bind="appEdition.appHomepage"></td>
        <td ng-bind="appEdition.downloadUrl"></td>
        <td ng-bind="appEdition.enableFlag"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count>
    <uib-pagination class="pagination-sm"
                    total-items="vm.totalItems"
                    ng-model="vm.page"
                    ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
      </div>
    </div>
  </div>
  </div>
