<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title">
      <h2>用户管理</h2>
    </div>
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h1 style="font-size: 100px;margin-left: auto;margin-right: auto">Standby</h1>
              <button class="btn btn-primary" type="button" ng-click="vm.start()">
                <i class="glyphicon glyphicon-play-circle"> 开始</i>
              </button><br/>
              <button class="btn btn-danger" type="button" ng-click="vm.standby()">
                <i class="glyphicon glyphicon-stop"> 停止</i>
              </button><br/>
              <button class="btn btn-warning" type="button" ng-click="vm.pauseall()">
                <i class="glyphicon glyphicon-pause"> 暂停所有</i>
              </button><br/>
              <button class="btn btn-info" type="button" ng-click="vm.resumeall()">
                <i class="glyphicon glyphicon-play"> 恢复所有</i>
              </button>
            </div>
            <div class="col-lg-6">
              <table class="table table-hover">
                <tbody ng-repeat="scheduler in vm.schedulers track by $index">
                  <tr>
                    <td>Name</td>
                    <td ng-bind="scheduler.schedulerName"></td>
                  </tr>
                  <tr>
                    <td>Instance Id</td>
                    <td ng-bind="scheduler.schedulerInstanceId"></td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td ng-bind="scheduler.version"></td>
                  </tr>
                  <tr>
                    <td>Standby</td>
                    <td ng-bind="scheduler.inStandbyMode"></td>
                  </tr>
                  <tr>
                    <td>Started</td>
                    <td ng-bind="scheduler.started"></td>
                  </tr>
                  <tr>
                    <td>Running Since</td>
                    <td ng-bind="scheduler.runningSince"></td>
                  </tr>
                  <tr>
                    <td>Jobs Executed</td>
                    <td ng-bind="scheduler.numberOfJobsExecuted"></td>
                  </tr>
                  <tr>
                    <td>Job Store Clustered</td>
                    <td ng-bind="scheduler.jobStoreClustered"></td>
                  </tr>
                  <tr>
                    <td>Suupports Persistence</td>
                    <td ng-bind="scheduler.jobStoreSupportsPersistence"></td>
                  </tr>
                  <tr>
                    <td>Scheduler Remote</td>
                    <td ng-bind="scheduler.schedulerRemote"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th><input type="checkbox" ng-click="updateSelectionAll($event)"></th>
                    <th>schedname</th>
                    <th>instancename</th>
                    <th>lastcheckintime</th>
                    <th>checkininterval</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="job in vm.jobs track by $index">
                    <td><input type="checkbox" id={{job.jobName}} name="{{job.jobGroup}}" ng-checked="isSelected(job.jobName)" ng-click="updateSelection($event,job.jobName)"></td>
                    <td ng-bind="job.schedName"></td>
                    <td ng-bind="job.instanceName"></td>
                    <td ng-bind="job.lastCheckinTime"></td>
                    <td ng-bind="job.checkinInterval"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
