<div>
  <h2>任务明细</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6">
          <label class="col-lg-3 control-label">任务名称</label>
          <div class="col-lg-6">
            <input type="text" id="jobName" class="form-control" ng-model="vm.dto.jobName">
          </div>
        </div>
        <div class="col-lg-6">
          <label class="col-lg-3 control-label">任务组</label>
          <div class="col-lg-6">
            <input type="text" id="jobGroup" class="form-control" ng-model="vm.dto.jobGroup">
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-5">
          <button class="col-lg-offset-5 col-lg-3 btn btn-primary" type="button" id="searchBtn" ng-click="vm.loadJobs()">
            <i class="glyphicon glyphicon-search"> 搜索</i>
          </button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-5">
          <button class="col-lg-offset-5 col-lg-3 btn btn-primary" type="button" ui-sref="taskDetail.scheduler">
            <i class="glyphicon glyphicon-share-alt"> 计划管理</i>
          </button>
        </div>
      </div>
      <br/>
      <div class="row col-lg-10" style="margin-left: 20px">
        <button class="btn btn-primary" type="button" ui-sref="taskDetail.newRest">
          <i class="glyphicon glyphicon-pencil"> 新建restful任务</i>
        </button>
        <button class="btn btn-primary" type="button" ui-sref="taskDetail.newCrom">
          <i class="glyphicon glyphicon-pencil"> 新建CRON任务</i>
        </button>
        <!--<button class="btn btn-primary" type="button" ui-sref="taskDetail.new">-->
          <!--<i class="glyphicon glyphicon-pencil"> 新建简单任务</i>-->
        <!--</button>-->

        <button class="btn btn-danger" type="button" ng-click="vm.delJobs()">
          <i class="glyphicon glyphicon-remove"> 删除</i>
        </button>
        <button class="btn btn-warning" type="button" ng-click="vm.pauseJobs()">
          <i class="glyphicon glyphicon-pause"> 暂停</i>
        </button>
        <button class="btn btn-info" type="button" ng-click="vm.resumeJobs()">
          <i class="glyphicon glyphicon-play">恢复</i>
        </button>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><input type="checkbox" ng-click="vm.updateSelectionAll($event)"></th>
        <th>任务名称</th>
        <th>任务状态</th>
        <th>任务组</th>
        <th>任务描述</th>
        <th>上次执行时间</th>
        <th>计划执行时间</th>
        <th>下次执行时间</th>
        <th>实际执行时间</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="job in vm.jobs track by $index">
        <td width="5%"><input type="checkbox" id={{job.jobName}} name="{{job.jobGroup}}" ng-checked="vm.isSelected(job.jobName)" ng-click="vm.updateSelection($event,job.jobName)"></td>
        <td ng-bind="job.jobName" ui-sref="taskDetail.show({jobName:job.jobName})" ng-style="vm.setColor(job.jobStatus)" width="10%"></td>
        <td ng-bind="job.jobStatus" ng-style="vm.setColor(job.jobStatus)"  width="10%"></td>
        <td ng-bind="job.jobGroup"  width="10%"></td>
        <td ng-bind="job.description"  width="10%"></td>
        <td ng-bind="job.previousFireTime"  width="15%"></td>
        <td ng-bind="job.scheduledFireTime" width="15%"></td>
        <td ng-bind="job.nextFireTime" width="15%"></td>
        <td ng-bind="job.fireTime" width="10%"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count>
    <uib-pagination class="pagination-sm"
                    total-items="vm.totalItems"
                    ng-model="vm.page"
                    ng-change="vm.pageChanged()"></uib-pagination>
  </div>
</div>
