<div>
  <div class="ibox-title">
  <h2>推送信息管理</h2>

  </div>
  <div class="ibox-content">

    <form class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-4">
            <label class="col-lg-4 control-label">范围</label>
            <div class="col-lg-8">
              <input type="text" id="searchTarget" class="form-control" ng-model="vm.remind.target">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-8">
              <button class="btn btn-white" type="reset" id="searchReset">重置</button>
              <button class="btn btn-w-m btn-primary" type="button" id="searchBtn" ng-click="vm.loadSearch()">搜索</button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-8 pull-right m-t-n-xs">
              <a class="btn btn-w-m btn-info" ui-sref="remind.new()">新增</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>操作</th>
          <th>序号</th>
          <th>范围</th>
          <th>发送时间</th>
          <th>megId</th>
          <th>内容</th>
          <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="remind in vm.reminds track by remind.id">
          <td>
            <a ui-sref="remind.edit({id:remind.id})"><i class="fa fa-sign-in text-info">编辑</i></a>
          </td>
          <td ng-bind="$index+1">1</td>
          <td ng-bind="remind.target"></td>
          <td ng-bind="remind.sendTime"></td>
          <td ng-bind="remind.megId"></td>
          <td ng-bind="remind.info"></td>
          <td ng-bind="remind.state"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count>
      <uib-pagination class="pagination-sm"
                      total-items="vm.totalItems"
                      ng-model="vm.page"
                      ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</div>
