<div class="row">
  <alert-error></alert-error>
</div>
<div>
  <h2>授权信息</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary"  ui-sref="interfaceAuthIndex.add">
          <span class="glyphicon glyphicon-plus"></span>
          新增
        </button>
      </div>
    </div>
  </div>

  <br/>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>序号</th>
        <th>应用名称</th>
        <th>授权时间</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
        <tr ng-repeat="interfaceAuth in vm.interfaceAuthes">
          <td>{{$index+1}}</td>
          <td>{{interfaceAuth.appName}}</td>
          <td>{{interfaceAuth.creationDate}}</td>
          <td>
            <a ng-click="vm.delete(interfaceAuth)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
