<div class="ibox-content">
  <div class="modal-header">
    <alert-error></alert-error>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myAfwkFunctionLabel">选择接口</h4>
  </div>
  <div class="modal-body">


    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>选择</th>
            <th>接口代码</th>
            <th>接口名称</th>
            <th>接口地址</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input type="radio" ng-model="$parent.vm.selectedLines" name="InfLine"
                     ng-value=""/>
            </td>
            <td colspan="5">不选择</td>
          </tr>
          <tr ng-repeat="line in vm.lines">
            <td><input type="radio" ng-model="$parent.vm.selectedLines" name="InfLine" ng-value="line"/></td>
            <td>{{line.lineCode}}</td>
            <td>{{line.lineName}}</td>
            <td>{{line.iftUrl}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center">
      <item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count>
      <uib-pagination class="pagination-sm"
                      total-items="vm.totalItems"
                      ng-model="vm.page"
                      ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <button type="button" class="btn btn-primary" ng-click="vm.save()">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span> 确定</span>
      </button>

      <button type="button" class="btn btn-primary" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;<span>关闭</span>
      </button>
    </div>
  </div>
</div>
