<form name="addForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <alert-error></alert-error>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myAfwkFunctionLabel">编辑或新增维护</h4>
  </div>
  <div class="modal-body">
    <!--<div class="form-group" ng-show="vm.code.codeId">-->
    <!--<label >ID</label>-->
    <!--<input type="text" class="form-control"-->
    <!--ng-model="vm.code.codeId" readonly/>-->
    <!--</div>-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_profileName">维护名称</label>
          <input type="text" class="form-control" name="code" id="field_profileName"
                 ng-model="vm.profile.profileName" required
            />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="field_profileDesc">维护描述</label>
          <input type="text" class="form-control" name="description" id="field_profileDesc"
                 ng-model="vm.profile.description" required
            />
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Cancel
    </button>
    <button type="submit" ng-disabled="addForm.$invalid || vm.isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;Save
    </button>
  </div>
</form>
