
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>系统接口测试</h5>

        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#">Config option 1</a>
            </li>
            <li><a href="#">Config option 2</a>
            </li>
          </ul>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">


        <div class="hr-line-dashed"></div>

        <form class="form-horizontal">

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">请求方法</label>

                <div class="col-lg-8">
                  <input type="text" ng-model="vm.header.requestMethod" class="form-control" readonly>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">接口类型</label>

                <div class="col-lg-8">
                  <input type="text" ng-model="vm.header.interfaceType" class="form-control" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">系统代码</label>

                <div class="col-lg-8">
                  <input type="text" ng-model="vm.header.interfaceCode" class="form-control" readonly>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">接口代码</label>

                <div class="col-lg-8">
                  <input type="text" ng-model="vm.header.lineCode" class="form-control" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">样例参数</label>

                <div class="col-lg-8">
                  <input type="hidden" ng-model="vm.example.exampleId">
                  <input type="hidden" ng-model="vm.example.lineId">
                  <textarea class="form-control" type="text" ng-model="vm.example.inputExample" readonly></textarea>

                </div>
                <div class="col-lg-1" ng-if="vm.example.inputExample!=null">
                  <button type="button" class="btn btn-default" ng-click="vm.copyInputExample()">使用</button>
                </div>

              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">样例输出</label>

                <div class="col-lg-8">
                  <input type="hidden" ng-model="vm.header.lineId" >

                  <textarea class="form-control" type="text" ng-model="vm.example.outputExample" readonly></textarea>

                </div>
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-9">
                <label class="col-lg-2 control-label">请求地址</label>

                <div class="col-lg-10">
                  <input type="text" value="{{vm.header.domainUrl}}{{vm.header.iftUrl}}"  class="form-control" readonly>
                </div>
              </div>
              <div class="col-lg-2">
                <button  class="btn btn-primary">
                  &nbsp;&nbsp;Send&nbsp;&nbsp;
                </button>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">
              <div class="col-lg-9">
                <label class="col-lg-2 control-label">参数输入</label>

                <div class="col-lg-10">
                  <textarea class="form-control" type="text" ng-model="vm.inputParams" ></textarea>
                </div>
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="row">

              <div class="col-lg-9">
                <label class="col-lg-2 control-label">参数输出</label>

                <div class="col-lg-10">
                  <textarea class="form-control" type="text" ng-model="vm.outputParams"></textarea>
                  <alert-error></alert-error>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">
              <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">
                  &nbsp;&nbsp;Cancel&nbsp;&nbsp;
                </button>
                <button type="submit"  class="btn btn-primary" ng-click="vm.save(vm.example)">
                  &nbsp;&nbsp;Save&nbsp;&nbsp;
                </button>
              </div>
            </div>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
