<div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>快速编码管理</h5>

          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <form class="form-horizontal">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4">
                  <label class="col-lg-4 control-label">编码代码</label>

                  <div class="col-lg-8">
                    <input type="text" ng-model="vm.code.code" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="col-lg-4 control-label">编码名称</label>

                  <div class="col-lg-8">
                    <input type="text" ng-model="vm.code.description" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4">
                  <div class="col-lg-8 pull-right m-t-n-xs">
                    <a class="btn btn-w-m btn-info" ui-sref="coding.add()">新增</a>
                  </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="col-lg-8 pull-right m-t-n-xs">
                    <button class="btn btn-white" type="reset" id="searchReset">重置</button>
                    <button class="btn btn-w-m btn-primary" type="button" ng-click="vm.search()">搜索</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!--<div class="hr-line-dashed"></div>-->

          <div style="margin-top:50px;">

            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th style="width: 10%;">操作</th>
                <th style="width: 10%;">序号</th>
                <th style="width: 40%;">编码类型代码</th>
                <th style="width: 40%;">编码类型名称</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="code in vm.result">
                <td>
                  <a ui-sref="codingValue({codeId:code.codeId})">查看</a>
                  <a ui-sref="coding.edit({codeId:code.codeId})">编辑</a>
                  <a ng-click="vm.delete(code)">删除</a>
                  <!--<button uib-popover-html="'<a ui-sref=\'coding.edit({codeId:code.codeId})\'>编辑</a><br/><a ng-click=\'vm.delete(code)\'>删除</a>'"
                          popover-trigger="focus" popover-popup-close-delay="500" popover-placement="right" class="btn btn-default">
                    Popover
                  </button>-->

                </td>
                <td>{{$index+1}}</td>
                <td>{{code.code}}</td>
                <td>{{code.description}}</td>

              </tr>
              </tbody>
            </table>
          </div>

          <div class="text-center">
            <item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count>
            <uib-pagination class="pagination-sm"
                            total-items="vm.totalItems"
                            ng-model="vm.page"
                            ng-change="vm.pageChanged()"></uib-pagination>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

