<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title">
      <h2>菜单管理</h2>
    </div>
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form name="editForm" role="form" novalidate ng-submit="vm.save()">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">菜单类型</label>
                <div class="col-lg-8">
                  <input type="text" id="info" name="menuType" ng-model="vm.menu.menuType" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">菜单名</label>
                <div class="col-lg-8">
                  <input type="text" id="state" name="menuName" ng-model="vm.menu.menuName" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">上级菜单</label>
                <div class="col-lg-8">
                  <select class="form-control" id="target" name="target" ng-model="vm.menu.parentId" ng-options="e.id as e.menuName for e in vm.menus" >
                    <option value="">请选择</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-3 control-label">资源内容</label>
                <div class="col-lg-8">
                  <input type="text" id="paperId" name="content" ng-model="vm.menu.content" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                  <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;取消
                </button>
                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                  <span class="glyphicon glyphicon-save"></span>&nbsp;保存
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
